<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/home/indexApp.css">
    <title>Grab your meal</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">   
</head>
<body>
    <header>
    <div class="wrapper">
        <div class="logo">
            <img src="/static/home/logo.png" alt="">
        </div>
<ul class="nav-area">
<li><a href="/">Home</a></li>
<li><a href="/">About</a></li>
<li><a href="/signup">Signup</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/canteen">Canteen</a></li>
<li><a href="/admin">Admin</a></li>
</ul>
</div>
<div class="welcome-text">
        <h1>
GRAB YOUR <span>MEAL</span></h1>
<a href="/">Contact US</a>
    </div>
</header>
</body>
</html>
