<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
    <style>
            .logo img{
                width:50px;
            }
            .left{
                float: left;
                text-align: left;
            }
            * {
                font-family: sans-serif; /* Change your font family */
              }
    </style>
<body>
{% include 'user/header.html'%}
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">
        <h1>{{food.item_name}}</h2>
            <img src="/media/{{food.image}}" class="img-fluid shop-item-image" alt="Momo img.">

        </div>

        <div class="col-md-6 mb-4">

        
          <div class="p-4">
            <p class="lead">
              <span>
              <h3>Price={{food.price}}
              </h3></span>
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{food.description}}</p>

            <form class="d-flex justify-content-left" method="POST" action="/homeUser/add_itemtocart" oninput="check(this)">
                {% csrf_token %}
              <input type="hidden" value="{{food.item_name}}" name="item">
              <input required="" name="quantity" type="number" min="1" step="1" value="1" />

              <!--<input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px" name="quantity">-->
              <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form>
          </div>

        </div>

      </div>

</body>

</html>