{% load blog_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>Grab Your Meal | Store</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/static/user/styles.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style type=text/css>.logo img{
                width:50px;
            }
            .left{
                float: left;
                text-align: left;
            }
            * {
                font-family: sans-serif; /* Change your font family */
              }
            </style>
    </head>
    <body>
    {% include 'user/header.html' %}            
<!--            <h1 class="band-name band-name-large">The Generics</h1>-->
    </header>
    <div class="col-md-12 d-inline p-2 bg-danger text-white">Last Order Delivered id={{previousorder_id}}</div>
    <div class="col-md-12 d-inline p-2 bg-danger text-white">Last Order Placed id={{currenorder_id}}</div> <br>
        <section class="container content-section">
            <h2 class="section-header">China Towns</h2>
            <div class="shop-items">
                {%for food in liste %}
                    {% if food.category == 'China Towns' %}
                    <form action="/homeUser/prod_description/" Method="POST">
                    {% csrf_token %}
                        <div class="shop-item">
                            <span class="shop-item-title">{{food.item_name}}</span>
                            <img class="shop-item-image" src="/media/{{food.image}}">
                            <div class="shop-item-details">
                                <span class="shop-item-price">Rs {{food.price}}</span>
                                <input type= "hidden" value="{{food.item_name}}" name="id">
                                <button class="btn btn-primary" type="submit">Order</button>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                {%endfor%}
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">Paratha</h2>
            <div class="shop-items">
                {%for food in liste %}
                    {% if food.category == 'Paratha' %}
                    <form action="/homeUser/prod_description/" Method="POST">
                    {% csrf_token %}
                        <div class="shop-item">
                            <span class="shop-item-title">{{food.item_name}}</span>
                            <img class="shop-item-image" src="/media/{{food.image}}">
                            <div class="shop-item-details">
                                <span class="shop-item-price">Rs {{food.price}}</span>
                                <input type= "hidden" value="{{food.item_name}}" name="id">
<!--                                 <button class="btn btn-primary shop-item-button Available" type="button">Available</button>-->
                                <button class="btn btn-primary shop-item-button" type="submit">Order</button>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                {%endfor%}
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">Fast Food</h2>
            <div class="shop-items">
                {%for food in liste %}
                    {% if food.category == 'Fast_food' %}
                    <form action="/homeUser/prod_description/" Method="POST">
                    {% csrf_token %}
                        <div class="shop-item">
                            <span class="shop-item-title">{{food.item_name}}</span>
                            <img class="shop-item-image" src="/media/{{food.image}}">
                            <div class="shop-item-details">
                                <span class="shop-item-price">Rs {{food.price}}</span>
                                <input type= "hidden" value="{{food.item_name}}" name="id">
<!--                                 <button class="btn btn-primary shop-item-button Available" type="button">Available</button>-->
                                <button class="btn btn-primary shop-item-button" type="submit">Order</button>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                {%endfor%}
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">Thali</h2>
            <div class="shop-items">
                {%for food in liste %}
                    {% if food.category == 'Thali' %}
                    <form action="/homeUser/prod_description/" Method="POST">
                    {% csrf_token %}
                        <div class="shop-item">
                            <span class="shop-item-title">{{food.item_name}}</span>
                            <img class="shop-item-image" src="/media/{{food.image}}">
                            <div class="shop-item-details">
                                <span class="shop-item-price">Rs {{food.price}}</span>
                                <input type= "hidden" value="{{food.item_name}}" name="id">
<!--                                 <button class="btn btn-primary shop-item-button Available" type="button">Available</button>-->
                                <button class="btn btn-primary shop-item-button" type="submit">Order</button>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                {%endfor%}
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">Chips and Beverages</h2>
            <div class="shop-items">
                {%for food in liste %}
                    {% if food.category == 'Chips and Beverages' %}
                    <form action="/homeUser/prod_description/" Method="POST">
                    {% csrf_token %}
                        <div class="shop-item">
                            <span class="shop-item-title">{{food.item_name}}</span>
                            <img class="shop-item-image" src="/media/{{food.image}}">
                            <div class="shop-item-details">
                                <span class="shop-item-price">Rs {{food.price}}</span>
                                <input type= "hidden" value="{{food.item_name}}" name="id">
<!--                                 <button class="btn btn-primary shop-item-button Available" type="button">Available</button>-->
                                <button class="btn btn-primary shop-item-button" type="submit">Order</button>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                {%endfor%}
            </div>
        </section>
    </form>
    <!---
    <script>
        var socket=new WebSocket('ws://localhost:8000/ws/some_url/')
        socket.onmessage=function(event){
        var data =JSON.parse(event.data);
        console.log(data);
        document.querySelector('#app').innerText=data.message;
  }
    </script>-->
    </body>
</html>
